# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# Default output file.
bin/btree_test
lib/libtree.h

# Gedit temp files
*.*~
